.inline-flex {
  display: inline-flex;
}

.tr-item {
  margin-right: 10px;
}

body {
  zoom: 0.9;
}

.flex {
  display: flex;
}

.transaction-lists {
  width: 100%;
}

.shortcut {
  width: 8vw;
}

.card-title {
  margin-bottom: 10px;
}